# Node and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Envs
.env
.env.*

# Mac junk
.DS_Store

# Expo / React Native
.expo/
.expo-shared/
dist/
build/

# Editors
.vscode/
.idea/

